/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: rgb(236, 236, 236);
  background-color: #2c2f33;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 20%;
  height: auto;
  filter: brightness(120%);
}

.adder {
  background-color: rgb(250, 250, 250);
  width: 100%;
  padding: 4.5rem;
  margin: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 1030px) {
  .adder {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 4rem;
  }

  .adder > div {
    margin-left: 0;
    text-align: center;
  }
}

.adder > div {
  --ifm-col-width: calc(4 / 12 * 100%);

  display: flex;
  flex-direction: column;
  flex: 0 0 var(--ifm-col-width);
  justify-content: center;
}

[data-theme='dark'] .adder {
  background-color: #1e1f20;
}

.gifFeature {
  width: auto;
  height: 20rem;
  aspect-ratio: 16/9;
  border-radius: 0.2rem;
}
